:root {
  --color-naranja: #ad6016;
  --color-verde: #168d84;
  --color-blanco: #fff;
  --color-negro: #000;
}

.titulo__principal {
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-naranja);
  margin-top: 50px;
  margin-bottom: 5px;
}

/* Estilo para la sección de productos */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.productos__producto {
  width: auto;
  height: 550px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-blanco);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.9);
}

.producto__imagen {
  max-width: 210px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.producto__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  height: 140px;
  color: var(--color-verde);
  font-size: 1.6rem;
}

.producto__descripcion {
  margin-top: 20px;
  color: var(--color-negro);
  font-size: 1.2rem;
}

.producto__precio span {
  color: var(--color-naranja);
  font-size: 1rem;
  margin-top: 10px;
  text-decoration: line-through;
}

.producto__precio strong {
  margin-top: 0;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-verde);
}

.producto__link {
  display: inline-block;
  background-color: var(--color-naranja);
  color: var(--color-blanco);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.producto__link:hover {
  background-color: var(--color-verde);
}

/*MEDIA QUERYS*/

@media (max-width: 620px) {
  .productos__producto {
    width: 100%;
  }
}
