/*ESTOS SON LOS ESTILOS GENERALES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-naranja: #ad6016;
  --color-verde: #168d84;
  --color-blanco: #fff;
  --color-negro: #000;
}

section[id],
div[id] {
  scroll-margin-top: 160px;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.menuNosotros {
  padding: 10px 10px;
  background-color: var(--color-naranja);
  position: sticky;
  top: 80px;
  border-bottom: solid var(--color-verde);
  z-index: 700;
}

.menuNosotros__lista {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.menuNosotros__item {
  list-style: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 20px;
  border: solid 1px transparent;
  padding: 2px;
  margin: 2px;
}

.menuNosotros__item:hover {
  background-color: var(--color-verde);
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid var(--color-blanco);
}

.menuNosotros__link {
  text-decoration: none;
  color: var(--color-blanco);
  font-size: 1.2em;
}

.encabezadoNosotros {
  text-align: center;
  padding: 40px;
  background-color: var(--color-naranja);
  color: var(--color-blanco);
}

.encabezadoNosotros__titulo {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.encabezadoNosotros__video {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border: 5px solid var(--color-blanco);
}

.encabezadoNosotros__parrafo {
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 20px;
}

.encabezadoNosotros__parrafo span {
  color: var(--color-verde);
  font-weight: bold;
  font-weight: 900;
  letter-spacing: 2px;
}

/*HISTORIA*/
.historia {
  background-color: var(--color-blanco);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.historia__titulo {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--color-naranja);
  text-align: center;
  letter-spacing: 3px;
}

.spanDivisor {
  background-color: var(--color-verde);
  height: 5px;
  width: 100%;
  display: inline-block;
  margin: 10px;
  border: dotted var(--color-blanco) 2px;
}

.historia__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.historia__imagen {
  width: auto;
  max-width: 600px;
  min-width: 200px;
  overflow: hidden;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
}

.historia__img {
  max-width: 600px;
  min-width: 200px;
  width: auto;
  padding: 10px;
  border-radius: 1px;
  border: solid var(--color-naranja) 10px;
}

.links__generales {
  color: var(--color-verde);
  font-weight: 600;
}

.strongs__generales {
  color: var(--color-verde);
  font-weight: 600;
}

.historia__texto {
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-negro);
  text-align: justify;
  margin-top: 10px;
  padding: 35px;
}

/*VALORES*/
.valores {
  margin-bottom: 70px;
}

.valores__titulo {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--color-naranja);
  text-align: center;
  letter-spacing: 3px;
}

.valores__contenedorTarjetas {
  margin-top: 25px;
}

.valores__tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 15px;
}

.card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(var(--color-naranja), var(--color-verde));
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-15px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(20px);
  }
}

.card-inner-titulo {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.card-inner-texto {
  font-size: 15px;
  padding: 5px;
  text-align: left;
}

/*Mision*/
.mision {
  background-color: var(--color-verde);
  padding: 50px;
  text-align: center;
}

.mision__contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.historia__titulo {
  color: var(--color-naranja);
}

.mision__texto h5 {
  color: var(--color-blanco);
  font-size: 22px;
  font-weight: 900;
}

.mision__texto p {
  font-size: 18px;
  margin: 10px 0;
  color: var(--color-blanco);
}

.mision__imagen img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/*VISION*/
.vision {
  padding: 20px;
  margin: 20px;
}

.vision__contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  padding: 30px;
}

.vision__texto {
  flex: 1;
  padding: 15px;
}

.vision__texto h5 {
  color: var(--color-verde);
  font-size: 20px;
}

.vision__texto p {
  color: #555555;
  line-height: 1.6;
}

.vision__imagen {
  padding: 10px;
  overflow: hidden;
}

.vision__imagen img {
  width: 400px;
  height: auto;
  border-radius: 10%;
}

/*EQUIPO*/
.equipo__slider {
  margin-bottom: 50px;
}

.equipo__texto {
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  margin: 20px 0;
}

.equipo__texto h5 {
  color: var(--color-verde);
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

.swiper {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: var(--color-verde);
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: var(--color-naranja);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

/*COLABORADORES*/
.colaboradores {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colaboradores__texto {
  background-color: var(--color-blanco);
  color: var(--color-negro);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.colaboradores__titulo {
  color: var(--color-verde);
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}

.colaboradores__parrafo {
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
  padding: 0 20px;
  font-size: 20px;
}

.colaboradores__iconos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, white, var(--color-verde));
}

.colaboradores__iconos a {
  display: block;
  width: auto;
  margin: 10px 30px;
}

.colaboradores__iconos img {
  padding: 10px;
  max-width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  border-radius: 30px;
}

.colaboradores__iconos img:hover {
  transform: scale(1.05);
}

@media (max-width: 660px) {
  section[id],
  div[id] {
    scroll-margin-top: 160px;
  }

  .historia__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .historia__img {
    width: auto;
    max-width: 450px;
    min-width: 200px;
  }
}

@media (max-width: 550px) {
  .menuNosotros {
    top: 50px;
  }

  .historia__img {
    width: 300px;
  }

  .vision__img {
    width: 300px;
  }
}

@media (max-width: 550px) {
  .menuNosotros {
    top: 30px;
  }


@media (max-width: 470px) {
  .vision__contenido .vision__img {
    width: 250px;
  }
}
