/*ESTOS SON LOS ESTILOS GENERALES XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Montserrat", sans-serif;
}

:root {
   --color-naranja: #ad6016;
   --color-verde: #168d84;
   --color-blanco: #fff;
   --color-negro: #000;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.principal {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
}

.producto__titulo {
   text-align: center;
   font-size: 2rem;
   color: var(--color-naranja);
   margin-bottom: 20px;
}

.producto__descripcion {
   font-size: 1.5em;
   text-align: justify;
   margin-bottom: 25px;
}

.personalizar-forma-titulo {
   text-align: center;
   font-size: 1.5rem;
}

.personalizar-formas-titulo {
   font-weight: bold;
}

.swiper__forma{
   width: auto;
   margin-top: 20px;
      margin-bottom: 20px;
background-color: var(--color-verde);
border-radius: 20px;
}

.swiper__tituloMolde{
font-size: 1.8em;
font-weight: 900;
color: var(--color-blanco);
background-color: var(--color-naranja);
}

.swiper__imagen{
   max-width: 250px;
   width: auto;
   margin: 10px;
   border-radius: 25px;
}

